bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/GalaxyTaxi.Api/appsettings.Development.json
/.vs/GalaxyTaxi/FileContentIndex/95757906-d593-429a-8f87-de28532959ca.vsidx
/.vs/GalaxyTaxi/DesignTimeBuild/.dtbcache.v2
/.vs/GalaxyTaxi/FileContentIndex/1f0a170a-fa36-4f20-94f7-f365836c6185.vsidx
/.vs/GalaxyTaxi/FileContentIndex/f91b75dc-1de7-40a3-aeb7-e378670b2302.vsidx
/.vs/GalaxyTaxi/v17/.suo
/.vs/GalaxyTaxi/DesignTimeBuild/.dtbcache.v2
/.vs/GalaxyTaxi/FileContentIndex/72486b1e-f7fd-4ced-8589-18d0b9e2f91b.vsidx
/.vs/GalaxyTaxi/FileContentIndex/872237c8-2a48-489c-bfd3-32c0ce0673b3.vsidx
/.vs/GalaxyTaxi/FileContentIndex/ae62133f-6847-43e4-af43-ab598a0b3e8e.vsidx
/.vs/GalaxyTaxi/FileContentIndex/bcfef3b0-0311-4494-8904-d8636d14727b.vsidx
/.vs/GalaxyTaxi/FileContentIndex/bfde8541-11b2-4ea1-adaf-f56b9060fd12.vsidx
/.vs/GalaxyTaxi/FileContentIndex/95757906-d593-429a-8f87-de28532959ca.vsidx
/.vs/GalaxyTaxi/FileContentIndex/f81b9dde-7c03-4584-8568-97a9fa0e9f64.vsidx
/.vs/GalaxyTaxi/v17/.suo
/.vs/GalaxyTaxi/FileContentIndex/79692843-0353-4ee5-8a84-63290c232bab.vsidx
