<div class="modal-content">
    <div class="modal-body">
        <p><strong>Auctions:</strong> @AuctionCount were generated.</p>
        <p><strong>Users:</strong> Affected users count is @UserCount.</p>
        <p><strong>Total Cost:</strong> Maximum cost for 5 days will be @TotalCost GEL.</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" @onclick="CloseModal">Close</button>
    </div>
</div>

@code {
    [Parameter] public int AuctionCount { get; set; }
    [Parameter] public int UserCount { get; set; }
    [Parameter] public double TotalCost { get; set; }

    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    private void CloseModal() => MudDialog.Close(DialogResult.Ok(true));
}