@page "/"
@using Microsoft.AspNetCore.Authorization
@using GalaxyTaxi.Shared.Api.Interfaces
@attribute [Authorize]
@inject IAccountService AccountService

<div class="p-4">
    <div class="container">
        <p>Information About Galaxy Taxi !!</p>
    </div>
</div>